.input-list{
    padding:11px;
    border:1px solid black;
    margin:10px;
    max-width:350px;
    width:100%;
    border-radius:10px;
}

.submit{
    background-color:rgb(9, 9, 88);
    color:white;
    padding:11px;
    border-radius:10px;
}
ul{
    padding-left:0;
}
li{
    list-style: none;
    padding-left:0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom:1px solid #ccc;
    max-width:400px;
    text-align: center;
    margin:auto;
    padding:10px;
    background-color:#dedada;
}
.delete-list{
    background-color:rgb(26, 35, 192);
    color:white;
    border-radius:10px;
    border:0;
    padding:10px; 
    font-size:16px;
    text-align: right;
    display: inline-block;
}

